{% extends "budget_django/base.html" %}
{% block content %}
    {% for category in categories %}
        <article class="media content-section">
            {#            <img class="rounded-circle article-img" src="{{ action.author_image }}">#}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'category-detail' category.id %}">{{ category.name }}</a>
                    <p class="article-content">{{ category.description }}</p>
                </div>
                {#                <h2><a class="article-title"#}
                {#                       href="{% url 'action-detail' action.id %}">{{ action.name }}</a>#}
                {#                </h2>#}
                {#                {% if action.category %}#}
                {#                    <b><p class="article-title">#}
                {#                        Category: {{ action.category }}</p></b>#}
                {#                {% endif %}#}
            </div>
        </article>
    {% endfor %}
{% endblock content %}
